In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config2 import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../Weather_Data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Winslow,US,2022-01-30 01:51:03,35.0242,-110.6974,44.78,25,0,0.00
1,1,Atuona,PF,2022-01-30 01:51:04,-9.8000,-139.0333,78.03,78,24,13.35
2,2,Khatanga,RU,2022-01-30 01:51:04,71.9667,102.5000,-8.77,97,94,7.92
3,3,Port Alfred,ZA,2022-01-30 01:51:04,-33.5906,26.8910,68.13,87,14,7.63
4,4,Punta Arenas,CL,2022-01-30 01:48:24,-53.1500,-70.9167,50.11,57,0,16.11

In [3]:
# Get the data types from the df 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. (Solve the issue of any negative degrees F)
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Create a % Humidity Heatmap 
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2022-01-30 01:51:04,-9.8000,-139.0333,78.03,78,24,13.35
6,6,Butaritari,KI,2022-01-30 01:51:05,3.0707,172.7902,82.54,72,67,17.94
10,10,Porto Novo,BJ,2022-01-30 01:51:06,6.4965,2.6036,76.82,56,38,4.12
11,11,Singkang,MY,2022-01-30 01:51:07,2.1006,102.7994,78.69,69,100,3.74
13,13,Avarua,CK,2022-01-30 01:46:52,-21.2078,-159.7750,80.65,78,100,11.50
15,15,Coolum Beach,AU,2022-01-30 01:51:08,-26.5333,153.1000,84.11,82,68,1.99
16,16,Bahia Blanca,AR,2022-01-30 01:51:08,-38.7196,-62.2724,82.36,40,23,21.07
17,17,Isangel,VU,2022-01-30 01:51:08,-19.5500,169.2667,78.91,94,100,6.91
19,19,Kirakira,SB,2022-01-30 01:51:09,-10.4544,161.9205,85.05,73,70,9.95
23,23,Touros,BR,2022-01-30 01:51:10,-5.1989,-35.4608,76.10,82,98,10.25

In [12]:
# Determine if there are any null values 
#preferred_cities_df.isnull().sum()
preferred_cities_df.count()

City_ID       116
City          116
Country       116
Date          116
Lat           116
Lng           116
Max Temp      116
Humidity      116
Cloudiness    116
Wind Speed    116
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1         Atuona      PF     78.03  -9.8000 -139.0333
6     Butaritari      KI     82.54   3.0707  172.7902
10    Porto Novo      BJ     76.82   6.4965    2.6036
11      Singkang      MY     78.69   2.1006  102.7994
13        Avarua      CK     80.65 -21.2078 -159.7750
15  Coolum Beach      AU     84.11 -26.5333  153.1000
16  Bahia Blanca      AR     82.36 -38.7196  -62.2724
17       Isangel      VU     78.91 -19.5500  169.2667
19      Kirakira      SB     85.05 -10.4544  161.9205
23        Touros      BR     76.10  -5.1989  -35.4608

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]